body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

.name-div, .pw-div {
  margin: 5%;
}
.name {
  font-family: 'Roboto', sans-serif;
  margin: 5%;
  padding: 2%;
}
.name-input {
  font-family: 'Roboto', sans-serif;
  margin: 5%;
  padding: 2%;
}
.pw {
  font-family: 'Roboto', sans-serif;
  margin: 3%;
  padding: 2%;
}

.pw-input {
  font-family: 'Roboto', sans-serif;
  margin: 3%;
  padding: 2%;
}

.btn {
  font-family: 'Roboto', sans-serif;
  margin: 7%;
  padding: 2%;
  background: white;
  border: solid .5px;
}
